<!-- <h4 class="ms-2 p-2 mt-5 text-center">{{data}}</h4> -->
<div class="container w-25 rounded-2 text-center p-5 mt-5" style="background-color:lightskyblue;">
    <h3>Sign In To Your Account</h3>
    <form action="" [formGroup]="loginForm">
        <div class="p-3 mt-2">
            <input formControlName="acno" name="ac1" id="acid" class="form-control" type="text" [placeholder]="inputplaceholder">  
        </div>
        <div class="p-3 mt-2">
            <input  formControlName="psw"name="ps1" id="psid" class="form-control" type="password" placeholder="Enter Password">  
        </div>
        <div class="p-3 mt-2">
            <button type="button" (click)="login()" class="btn btn-outline-light rounded-2">Login</button>

        </div>
        <div class="text-center text-white">
             <strong>Not Registered?</strong>
             <a style="text-decoration: none ;color: rgb(243, 247, 9) ;" routerLink="register" ><strong>Register</strong></a></div>
    </form>
</div>
