<h4 class="ms-2 p-2 mt-5 text-center">{{data}}</h4>
<div class="container w-50 rounded-2 text-center p-5 mt-5" style="background-color:lightskyblue;">
    <h1>Sign In To Your Account</h1>
    <form action="">
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" name="ac1" id="acid" class="form-control" type="text" [placeholder]="inputplaceholder">  
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" name="ps1" id="psid" class="form-control" type="password" placeholder="Enter Password">  
        </div>
        <div class="p-3 mt-2">
            <button type="button" (click)="login()" class="btn btn-outline-light rounded-2">Login</button>

        </div>
        <div class="text-center text-white">
             <strong>Not Registered?</strong>
             <a style="text-decoration: none ;color: rgb(243, 247, 9) ;" routerLink="register" ><strong>Register</strong></a></div>
    </form>
</div>
