
<div class="container w-50 rounded-2 text-center p-5 mt-5" style="background-color:lightskyblue;">
    <h1 style="color:rgb(14, 14, 131);">Sign Up To bank</h1>
    <form action="">
        <div class="p-3 mt-2">
            <input name="usern1" id="unmid" class="form-control" type="text" placeholder="Enter Username">
        </div>
        <div class="p-3 mt-2">
            <input name="ac1" id="acid" class="form-control" type="text" placeholder="Enter Account Number">
        </div>
        <div class="p-3 mt-2">
            <input name="ps1" id="psid" class="form-control" type="password" placeholder="Enter Password">
        </div>
        <div class="p-3 mt-2">
            <button type="button" (click)="register()" class="btn btn-outline-light rounded-2">Register</button>
        </div>

    </form>
</div>